*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app{
    min-height: 100vh;
    background-color: aquamarine;

    display: flex;
    align-items: center;
    justify-content: center;
}
.app-content{
    /* border: 5px solid; */
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
}
nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.menu ul{
    display: flex;
    gap: 20px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    /* list-style: none; */
    /* background-color: red; */
    position: relative;
}
.menu ul li a::after{
    /* list-style: none; */
    /* background-color: red; */
    content: '';
    width: 0%;
    height: 3px;
    background-color: blue;
    border-radius: 30px;
    transition: all 1s;

    position: absolute;
    left: -5%;
    top: 100%;

}
.menu ul li a:hover::after{
    width: 110%;
}
.mobile-menu-button{
    display: none;
}
/* main */

section{
    min-height: 100vh;
    padding: 50px;
    gap: 30px;
    flex-wrap: wrap;
}
.home-content{
    /* border: 2px solid; */
    flex: 1 1 200px;
   
}
.home-img{
    flex: 1 1 200px;
    /* border: 2px solid; */

}
section.home{
    background-color: #00666670;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid; */
}
.home-content h3{
    font-size: 3rem;
    font-size: 700;
}
.home-content h1{
    font-size: 5rem;
    font-size: 700;
    /* line-height: 1; */
}
.home-content p{
    font-size: 1.5rem;
    
}
.home-img img{
    width: 100%;

    animation: floatImage 3s ease-in-out infinite;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}
.niche{
    color: blue;
}
/* About */
section.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img{
    flex: 1 1 200px;

}
.about-content{
    flex: 1 1 200px;

}
.about-img img{
    width: 100%;
    animation: floatImage 3s ease-in-out infinite;

}
/* service */
section.service{
    background-color: #00666670;
}
section.contact{
    background-color: #00666670;
}
footer{
    min-height: 10vh;
}



/* break point */
@media screen and (max-width:600px) {
    .menu{
        display: none;
        z-index: 999;
    }
    .mobile-menu-button{
        display: block;
    }
    .menu.mobile-menu{
        /* color: wheat; */
        position: fixed;
        width: 100%;
        min-height: 100vh;
        top: 10vh;
        background-color: rgb(0, 58, 97);
        padding: 30px;
        /* display: none; */
        display: block;
        left: -100%;
        /* how do u want it to appear */
        transition: all 2s;
    }
    .menu.mobile-menu a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .menu.mobile-menu.show{
        /* display: block; */
        left: 0;
    }
    .menu.mobile-menu ul{
        display: flex;
        flex-direction: column;
    }
    section{
        display: flex;
        flex-direction: column-reverse;
    }
    section .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.about{
        display: flex;
        flex-direction: column;
    }
}